@import "tailwindcss";

/* Load Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Load Aktiv Grotesk from Adobe Fonts */
@import url("https://use.typekit.net/xxxxxx.css");

/* Use globally */
body {
  /* font-family: "Poppins", "aktiv-grotesk", sans-serif; */
  font-family: "aktiv-grotesk", sans-serif;
}

/* Utility to hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Utility to hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
